---
layout: "/_layouts/base.haml"
...

%ul
  - blog_entries.each do |entry|
    %li
      = link(entry.output_path.to_s.sub(/\.html$/,''), entry.title)
      -
      %span.publication_date
        = entry.publication_date.strftime("%e %b, %Y")
