---
layout: "/mdub/_layout.html.haml"
...

- breadcrumbs << link("/mdub/weblog/", "weblog")
- breadcrumbs << page.title

- content_for[:footer] += capture_haml do
  = include("../_elsewhere.html.haml")

%h1= page.title

~ yield
