---
layout: "_layout.html.haml"
...

- @body_class = "article"
- @og_type = "article"

- if page.published_at
  %p.published_at
    %em= page.published_at.strftime("%e %b, %Y")

~ yield

= include("_comments.html.haml")
