#comments

  :javascript
    var disqus_developer = 1;
    if (window.location.host.match(/dogbiscuit\.org$/)) {
      disqus_developer = 0;
    }
    console.log("disqus_developer = " + disqus_developer);

  .powered_by
    %a.dsq-brlink{:href=>"//disqus.com"}
      powered by
      %span.logo-disqus Disqus

  %h2 Feedback

  #disqus_thread

  %script{:type=>"text/javascript", :src=>"//dogbiscuit.disqus.com/embed.js"}

  %noscript
    %p
      %a{:href=>"//dogbiscuit.disqus.com/?url=ref"}
        View the discussion thread.

