!!! XML

%feed{ :xmlns=>'http://www.w3.org/2005/Atom' }

  %id http://dogbiscuit.org/mdub/weblog
  %title DogBiscuit
  %author
    %name Mike Williams
    %email mdub@dogbiscuit.org

  - published_pages[0..19].each do |entry|
    - content = find_and_preserve(entry.render(self))
    %entry
      %id http://dogbiscuit.org/#{entry.output_path.sub(/\.html$/,'')}
      %title= entry.title
      %link{ :rel => "alternate", :type => "text/html", :href => href(entry) }
      %published= entry.publication_date.xmlschema
      %content{ :type => "html" } <![CDATA[#{content}]]>
