---
layout: "../_layout.html.haml"
...

%h1 Archive

%ul
  - published_pages.each do |entry|
    %li
      = link(entry).sub(/.html"/, '"')
      -
      %span.publication_date
        = entry.publication_date.strftime("%e %b, %Y")
