---
layout: "../_layout.html.haml"
...

%h1 Archive

%ul.articles
  - published_pages.each do |entry|
    %li
      %p
        = link(entry).sub(/.html"/, '"')
        %span.teaser
          %span.publication_date
            on
            = entry.publication_date.strftime("%e %b, %Y")
