---
layout: "_layout.html.haml"
title: Archive
...

%ul.articles
  - published_pages.each do |entry|
    %li
      %p
        = link(entry)
        %span.teaser
          %span.published_at
            on
            = entry.published_at.strftime("%e %b, %Y")
