---
layout: base.haml
...

- breadcrumbs << link("/mdub/weblog/", "weblog")
- breadcrumbs << page.title

- content_for[:footer] += capture_haml do
  = include("elsewhere.html.haml")

%h1= page.title

~ yield
