!!!
%html

  %head
    %title Dog biscuits for everybody!
    %link{ :href=>href("/style/dogbiscuit.css"), :rel=>"stylesheet", :type=>"text/css" }

  %body

    #header
      %h1 mdub@dogbiscuit.org
      %p.subtitle ... mmm, crunchy!

    #content
      = yield

    #sidebar
      = content_for[:sidebar]

    #footer
      FOOTER
