%ul.elsewhere

  / %li
  /   %a{:href}
  /     %img{:src => href("/images/rss-icon.png")}
  /     subscribe via Atom/RSS

  %li
    %a{:href=> "http://twitter.com/woollyams"}
      @woollyams

  %li
    %a{:href=> "http://github.com/mdub"}
      github.com/mdub
