!!!
%html

  %head
    %title= page.title || "dogbiscuit"
    %link{ :href=>href("/style/dogbiscuit.css"), :rel=>"stylesheet", :type=>"text/css" }

  %body

    #header
      ~ include("_header.html.haml")
      
    #content
      ~ yield

    #sidebar
      ~ content_for[:sidebar]

    #footer
      ~ content_for[:footer]
