!!!
%html

  %head
    %meta{ :"http-equiv"=>"Content-Type", :content=>"text/html" }/
    %meta(charset="UTF-8")
    %title= page.title || "dogbiscuit"
    %base(href="/#{page.output.path}")
    = include("_highlight-js.html")
    %link{ :href=>href("style.css"), :rel=>"stylesheet", :type=>"text/css" }
    ~ content_for[:head]

  %body{:class => @body_class}

    #header
      ~ include("_header.html.haml")

    #content
      %h1= page.title
      ~ yield

    #sidebar
      ~ content_for[:sidebar]

    #footer
      ~ include("_footer.html.haml")
