---
layout: "_layout.html.haml"
title: "mdub"
...

%h1= page.title

%p
  "mdub" is Mike Williams.   I'm a software developer, in Melbourne, Australia.
  Welcome to my small, dusty corner of the web.
  
%ul

  %li
    = link("weblog", "weblog")
    \- random thoughts
