$line: #aaa
$light_grey: #aaa

body
  margin: 0 auto
  padding: 0
  min-width: 30em
  max-width: 55em

div
  margin: 0

#header, #content, #footer
  padding: 0.5em
  
#header
  border-bottom: 1px solid $line
  padding: 0.5em
    
  h1
    margin: 0
    
  .subtitle
    margin: 0
    font-style: italic

#content
  margin: 0 auto
  
.publication_date
  color: #666
  font-size: 75%
  float: right

#footer
  border-top: 1px solid $line
  padding: 0.5em
