Options +MultiViews +Indexes

ErrorDocument 404 /mdub/404.html

RewriteEngine on

RewriteCond     %{HTTP_HOST}            ^www.dogbiscuit\.org$
RewriteRule     .*                      http://dogbiscuit.org/$0    [R=permanent]

RewriteRule   ^$                    /mdub/                              [R]

RewriteCond   %{QUERY_STRING}       ^format=atom$
RewriteRule   ^mdub/weblog/         /mdub/weblog/feed.atom?             [R=301]

RewriteCond   %{QUERY_STRING}       ^format=rss$
RewriteRule   ^mdub/weblog/         /mdub/weblog/feed.atom?             [R=303]
